@{
    ViewBag.Title =" 詳細";
}


<h2>詳細</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.DisplayForModel()
    </dl>
    <hr />
</div>

<p>
   @Html.Partial("Parts/ReturnLinkButton")
</p>
